* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(95.26% 95.26% at 50% 101.66%, rgba(106, 204, 241, 0.91) 0%, rgba(85, 169, 217, 0.91) 31.25%, rgba(37, 90, 162, 0.91) 54.17%, rgba(11, 57, 136, 0.91) 70.31%, rgba(0, 11, 46, 0.91) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier;
}


[class*="col-"] {
    width: 100%;
}


@media only screen and (max-width: 700px) {
   .menu {
     font-size: 14px;
   }
   img {
    max-width: 100%;
    height: auto;
    padding: 0px;
    margin-top: 500px;
    }
}

@media only screen and (min-width: 600px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
}

img {
    margin: 0px;
    padding: 4px;
}

.ptx {
    margin-top: 150px;
}

section, aside{
    font-size: 20px;
    text-align: justify;
}

.subti {
    background-color:   #071E41;
    text-align: center;
    font-size: 40px;
    color: white;
    padding-right: 0px;
    margin: 10px -8px 10px -14px ;
}

.subsubtitlel {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.subsubtitler {
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}

#container{
    text-align: center;
}


[class*="col-"] {
    float: left;
    color: white;
    
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
 





header {
    position: fixed;
    width: 1900px;
    background: #1054BA;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
 
    margin-top: -10px;
    margin-left: -14px;
 
    color: white;
}

 
.menu {
    display: inline-flex;
    float: left;
}
 
.dropbtn {
    background-color: #0B3067;
    color: white;
    font-family: 'Courier New', Courier;
    padding: 27px 27px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #071E41;
    float: center;
}
  
.dropdown-content a {
 
    color: white;
    padding: 27px 27px;
    border: none;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #0B3067;}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #0B3067;
}

.button {
    background-color: #083067;
    text-align: center;
    padding: 27px 27px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

[class*="col-10"] {
    text-align: center;
}

[class*="col-4"] {
    text-decoration: black;
}

section{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
    display: flex;
}

section h1{
    color: black;

}

section div form label{
    color: black;
}


.col-3{
    border-radius: 10px;
    width: 90%;
    float: left;
    margin: 50px;
    flex-basis: 100px;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
